/*----------------------------------VARIABLES--------------------------*/

:root {
    --clr-pri: #015249;
    --clr-sec: #57BC90;
    --clr-cla: #E5E5E5;
    --clr-osc: #000;
    --clr-gra: #FFFFFF;
}

/*----------------------------------RESETEO--------------------------*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
}


img {
    width: 100%;
    height: auto;
}

main {
    background: var(--clr-cla);
}

/*----------------------------------TIPOGRAFIA--------------------------*/


h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 2.5rem;
    color: var(--clr-pri);
}

h3 {
    font-family: 'DM Sans', sans-serif;
    font-size: 2rem;
    color: var(--clr-pri);
}



/*-------------------------HEADER------------------*/

.btn-pri{
    background: var(--clr-sec);
    border: none;
    color:var(--clr-pri);
    padding: .4em 1.9em;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 800;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.741);
    cursor: pointer;
}

.fas{
    color:white;
}
.prueba{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo{
    max-width: 15%;
}
.logosize{
    width: 10rem;
}
header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #015249;
    justify-content: space-between;
    align-items: center;
    padding: 1em .5em;
    z-index: 10000;
    padding: .5em 5%;
}

.menu {
    background: #015249;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.menu li {
    position: relative;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

.menu>li a {
    display: inline-block;
    min-width: 150px;
    padding: 1em;
    background: white;
    text-align: center;
    color: white;
    background: #015249;
    line-height:0vw;

}

.menu a:hover {
    color: white;
    background: #015249;
}

.submenu {
    position: absolute;
    display: none;
}

.submenu li {
    border-bottom: 1px solid lightgray;
}

.submenu ul li:first-of-type {
    border-top: 1px solid lightgray;
}

.submenu ul {
    position: absolute;
    top: -1px;
    left: 100%;
    display: none;
}

.menu li:hover>ul {
    display: flex;
    position: absolute;
    z-index: 10000;
    flex-direction: column;
    margin-top: 140px;
}

header nav input[type=checkbox]:checked~.menu-md {
    position: relative;
    top: 25%;
    right: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    gap: .1em;
    background: var(--clr-pri);
    border-bottom-left-radius: 0.5em;
    animation: scale-in-ver-top 300ms both;
}

header nav .menu-md {
    display: none;
}

header nav .menu-link {
    color: black;
    font-weight: 600;
}

header nav .menu-link--active {
    border-bottom: 3px solid #79298b;
}

header nav .menu-link:hover {
    color: #79298b;
}

@media only screen and (min-width: 750px) {
    header nav .menu-sm {
        display: none;
    }
    header nav .menu-md {
        display: flex;
        justify-content: flex-end;
        gap: 1em;
        font-size: 1rem;
    }
}
@media only screen and (max-width: 749px){
    header .boton {
        display: none;
    }
}
/*-------------------------------HERO-----------------------*/
.videoContainer {
    width: 100%;
    height: 100vh;
}

.videoIndex {
    width: 100%;
    height: 1080px;
    position: absolute;
    z-index: 0;
}

.videoIndexLogo {
    width: 1005px;
    height: 314px;
    text-align: center;
}

.videoIndexLogoContainer {
    z-index: 1;
    position: absolute;
    width: 95%;
    display: flex;
    height: 1080px;
    justify-content: center;
    align-items: center;
}

/*-------------------------------FIRST CARD----------------------*/
.firstcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    width: 90%;
}

.firstcard h2 {
    margin: 7em 0 3em 0;
}

.fcard {
    display: flex;
    flex-direction: row;

}

.fcard-img {
    background-image: url(../media/fcard.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 550px;
    width: 90%;
    margin-left: -5em;
    border-radius: 20px;
}

.fcard-txt {
    background: #015249;
    padding: 2.5em 5.5em 2.5em 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.3rem;
    text-align: center;
    border-bottom-left-radius:20px ;
border-top-left-radius:20px ;


}

.autor {
    margin-top: 29px;
    margin-left: 15em;
}


/*-------------------------------SECOND CARD----------------------*/

.secondcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
}

.secondcard h2 {
    text-align: center;

}


.scard-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5em;
    margin: 2em;

}

.scard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;


}

.scard-txt {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    background: var(--clr-pri);
    color: var(--clr-cla);
    padding: 2em;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;

}


.scard-txt a {
    margin-right: -200px;
    text-decoration: underline;
}

.scard-img {
    flex-basis: 270px;
    width: 100%;
    z-index: 200;
    position: relative;
}

#card1 {
    background-image: url(../media/card1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
}

#card2 {
    background-image: url(../media/card2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 30%;
}

#card3 {
    background-image: url(../media/card3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 70%;
}

#card4 {
    background-image: url(../media/card4.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.etiqueta {
    background: #F7F7F7;
    display: inline-block;
    padding: .3em .6em;
    border-radius: 50px;
    position: absolute;
    right: 20px;
    bottom: 5px;

}

/*-------------------------------THIRD CARD-------------------------------*/
.thirdcard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8em;
}

.tcard-grid {
    display: grid;
    grid-template-areas: "knowtitle knowtitle ourtitle ourtitle"
    "circular bar publication1 publication1"
    "circular bar publication1 publication1"
    "circular bar publication2 publication2"
    "report report publication2 publication2";
    text-align: center;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-template-columns: 20% 20% 40%; */
    
}
#tcard-circular {
    grid-area: circular;
}

#tcard-bar {
    grid-area: bar;
}

#tcard-report {
    grid-area: report;
}
#tcard-publicationOne {
    grid-area: publication1;
}
#tcard-publicationTwo {
    grid-area: publication2;
}
#tcard-know{
    grid-area: knowtitle;
}
#tcard-our{
    grid-area: ourtitle;
}
.tcard {
    padding: 2em;
}

.tcard-graph {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    background: var(--clr-gra);
    color: var(--clr-pri);
    padding: 2em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
}

.graphReport {
    width: 15rem;
    height: 15rem;
}

.tcard-report {
    display: flex;
    flex-direction: row;
    gap: 4em;
    justify-content: center;
    align-items: center;
    background: var(--clr-gra);
    color: var(--clr-pri);
    padding: 2em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    font-weight: 500;
}

.tcard-txt1 {
    width: 50%;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.tcard-txt2 {
    width: 50%;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    text-decoration: underline;
    gap: 0.5em;
}

.tcard-publication {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
    background: var(--clr-gra);
    color: var(--clr-pri);
    padding: 2em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    text-align: start;
}
.tcard-img{
    width: 45rem;
    height: 20rem;
    display: flex;
}
.tcard-publicationtxt{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 2rem;
    text-align: justify;
}
.paragraphpublication{
    font-size: 18px;
    color: var(--clr-osc);
}
.tcard-publicationlink{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    text-decoration: underline;
}
/*-------------------------------RESPONSIVE GRIDS-------------------------------*/
/* Tablet */
@media (min-width:768px) and (max-width:1024px) {
    .tcard-grid{
        grid-template-areas:"knowtitle knowtitle"
                            "circular bar"
                            "report report"
                            "ourtitle ourtitle"
                            "publication1 publication1"
                            "publication2 publication2";
    }
}
/* Mobile */
@media (max-width:767px){
    .tcard-grid{
        grid-template-areas:"knowtitle"
                            "circular"
                            "bar"
                            "report"
                            "ourtitle"
                            "publication1"
                            "publication2";
    }
}
/*-------------------------------FOOTER-------------------------------*/
footer {
    display: flex;
    background: var(--clr-pri);
    color: var(--clr-cla);
    justify-content: center;
    align-items: center;
    height: 9em;
    padding: 0em 2em;
}

.logoFooter {
    height: 5em;
    width: 18em;
}

.footer-container {
    width: 33%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.footer-txt {
    text-align: center;
}

.footer-logo {
    justify-content: center;
    border-right: 1px white solid;
    border-left: 1px white solid;
}

.footer-links {
    justify-content: flex-start;
    padding-left: 4em;
}

.ft-links li {
    margin-top: 0.3em;
}